.card {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  max-width: 35rem;
  text-align: center;
  align-items: center;
  border-width: 15px;
}


.song-list{
    margin: 5px;
    color: white;
}
.vote-button {
  margin: 5px;
}

.admin-button {
  color: white;
  margin-top: 15px;
}
.captcha {
  align-self: center;
  margin-left: 25px;
margin-bottom: 35px;
  padding: 15px;
}
